[package]
name = "telegraph-rs"
version = "0.3.1"
description = "telegraph binding in Rust"
authors = ["Aloxaf <aloxafx@gmail.com>"]
homepage = "https://github.com/Aloxaf/telegraph-rs"
repository = "https://github.com/Aloxaf/telegraph-rs"
readme = "README.md"
license = "MIT"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
libxml = "0.2.11"
reqwest = "0.9.17"
serde = { version = "1.0.91", features = ["derive"] }
serde_json = "1.0.39"
