[package]
name = "telegraph-rs"
version = "0.4.0"
description = "telegraph binding in Rust"
authors = ["Aloxaf <aloxafx@gmail.com>"]
homepage = "https://github.com/Aloxaf/telegraph-rs"
repository = "https://github.com/Aloxaf/telegraph-rs"
readme = "README.md"
license = "MIT"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[features]
default = [ "upload" ]
blocking = [ "reqwest/blocking" ]
upload = [ "mime_guess" ]

[dependencies]
libxml = "0.2.11"
reqwest = { version = "0.10.0-alpha.1", features = [ "json", "gzip" ]}
serde = { version = "1.0.91", features = [ "derive" ] }
serde_json = "1.0.39"
mime_guess = { version = "2.0.1", optional = true }

[dev-dependencies]
tokio = "=0.2.12"
